.listItem {
	list-style: none;
	display: flex;
	justify-content: start;
	align-items: center;
	border-bottom: 1px solid gray;
	color: gray;
}

.icon {
	margin-right: 4px;
	transition: all 0.4s ease-in-out;
	cursor: pointer;
}
.icon:nth-child(1) {
	margin-left: 4px;
}
.icon:hover {
	color: #754668;
}
.active {
	margin-right: 4px;
	transition: all 0.4s ease-in-out;
	color: #754668;
}
span {
	margin-left: 8px;
}
